# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.fdb_latexmk
*.synctex.gz
*.run.xml
*.bcf
*.xdv

# LaTeX output files
*.ins
*.wsp



# PDFs
*.pdf

# Temporary files
*.dvi
*.ps
*.eps
*.backup
*.bak
*~

# Directories
auto/
_build/
build/
latexmk/
out/
tmp/
comment.cut
.DS_Store
temp.txt
